<nav class="navbar navbar-expand-lg bg-dark bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">BlogNode</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <% if (locals.user) { %>
            <li class="nav-item">
            <a class="nav-link" href="/blog/addBlog">Add Blog</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <%= user.fullName %>
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/user/logout">Logout</a></li>
              </ul>
            </li>
          <% } else { %>    
            <li class="nav-item border rounded px-3 ms-2"><a class="nav-link active" href="/user/signup">Signup</a></li>
            <li class="nav-item border rounded px-3 ms-2"><a class="nav-link active" href="/user/signin">Signin</a></li>
            <% } %>
        </ul>
        <form class="d-flex" role="search" action="/blog/search/" id="searchForm">
          <input class="form-control me-2" type="search" placeholder="Search" id="searchInput" name="searchInputValue" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

  <script>
    // Get references to the form and search input field
    const searchForm = document.getElementById('searchForm');
    const searchInput = document.getElementById('searchInput');

    // Add event listener for form submission
    searchForm.addEventListener('submit', function(event) {
        // Prevent the default form submission behavior
        event.preventDefault();
        
        // Get the value of the search input field
        const searchValue = searchInput.value;

        // Construct the action URL dynamically with the search input value
        const actionURL = `/blog/search/${encodeURIComponent(searchValue)}`;

        // Set the action attribute of the form to the constructed action URL
        searchForm.setAttribute('action', actionURL);

        // Submit the form
        searchForm.submit();
    });
</script>

  <% if (locals.error) { %>
    <div class="alert-container d-flex justify-content-center mt-4 ">
      <div class="alert alert-danger col-4 fs-5 text-center" role="alert">
        <%= locals.error %>
      </div>
    </div>
  <% } %>