* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  background-color: aliceblue;
}
.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 1.5vmax;
  width: 50%;
  border-radius: 5px;
  background-color: rgb(245, 241, 241);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.389);
}
.container>h3{
  text-align: center;
}
label{
  font-size: 1.4rem;
}